{{ define "main" }}
<section>
  <div class="no-gutter justify-content-center">
    <div class="header" style="padding-top: 60px">
      <div class="overwave no-interact"></div>
      <div class="depths no-interact"></div>
      <div class="background panel no-interact">
        <div class="overlay"></div>
      </div>

      <div class="midground panel no-interact">
        <div class="overlay"></div>
      </div>
      <div class="foreground panel no-interact">
        <div class="overlay"></div>
      </div>
      <div class="content-column">
        <div class="hero">
          <div class="banner">
            <div class="logo"></div>
            <div class="copy">
              <h1>deepdwn</h1>
              <p>Explore, study, create</p>
          </div>
        </div>
        <img src="images/screenshot.png" alt="Deepdwn interface screenshot with filters, file list, document outline and markdown editor">
        <p class="subhead">Markdown editor and organizer<br>for Windows, Mac and Linux</p>
      </div>
    </div>
  </div>
</section>
{{ end }}

{{ define "sidebar-prefooter" }}
<section class="landing-links section section-sm">
  <div class="container">
    <div class="row justify-content-center text-center mb-5">
      <div>
        <h2>For more info and to purchase</h2>
        <p class="mb-0">
          <a class="itch-button btn btn-primary" role="button" href="https://billiam.itch.io/deepdwn">Deepdwn on Itch.io</a>
        </p>
      </div>
    </div>
    <div class="row justify-content-center text-center mb-5">
      <div class="col-lg-5">
        <h2 class="h4">Help</h2>
        <p>
          <a href="https://support.deepdwn.com">support.deepdwn.com</a>
        </p>
      </div>

      <div class="col-lg-5">
        <h2 class="h4">Twitter</h2>
        <p>
          <a href="https://twitter.com/DeepdwnApp">@DeepdwnApp</a>
        </p>
      </div>
    </div>
  </div>
</section>
{{ end }}
